//COLORS 
$mainColorDr: hsl(120, 12%, 29%);
$mainColorLi: hsl(0, 0%, 95%);
$acColorLi: rgb(74, 74, 74);
$acColorDr: hsl(0, 0%, 5%);

//FONTS
$headerFont: 'Architects Daughter', cursive;
$mainFont: 'Montserrat', sans-serif;
