@import "./variables";


//GLOBAL STYLES
body {
    margin: 0;
    background-color: #f1f1f1;
}

h1
h2 {
    font-family: $headerFont;
}

p {
    font-family: $mainFont;
    font-size: clamp(1rem, 5vw, 4rem);
    color: $acColorDr;
    padding: 2rem;
}

.container {
    background-color: $mainColor;
}

.intro-container {
    background-image: url(../img/forest-pine.jpg);
    border-image-repeat: nore;
}

.quote {
    width: 50%;
    color: #f1f1f1;
}
//This code was used to cause grid items to over lap. It worked very well, but I think it is unnecessary and bulkier code than I need for the result that I want.
// .intro-container {
//     display: grid;
//     grid-template-columns: 50% 50%;
//     grid-auto-rows: 100%;

//     & img {
//         grid-column: 1/3;
//         grid-row: 1;
//         display: inline;
//         max-width: 100%;
//         z-index: 1;
//     }

//     & .quote {
//         grid-column: 2/3;
//         grid-row: 1;
//         align-self: center;
//         z-index: 9;
//     }
// }

