@import "./variables", "./mixins", "./normalize";


//GLOBAL STYLES
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: $mainColorLi;
}

h1{
    
    padding: clamp(0.5em, 5%, 1.5em);
    font-family: $headerFont;
    font-size: clamp(2rem, 5vw ,5rem);
    margin: 0 auto;
    text-align: center;
}

p {
    margin: 0;
    padding: 4em 3em;
    font-family: $mainFont;
    font-size: clamp(1rem, 3.5vw, 4rem);
    line-height: clamp(1.8rem, 6vw, 4.8rem);
    color: $mainColorLi;
    
}

.container {
    background-color: $mainColorDr;
}

.background-grad {
    background: linear-gradient(90deg, rgba(57,64,53,0.7721463585434174) 0%, rgba(242,242,242,0.19791666666666663) 66%, rgba(242,242,242,0) 100%);
}

.intro-container {
    background-image: url(../img/forest-pine.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 12px solid $mainColorLi;
}

.quote {
    padding: 4em 1em;
    width: 50%;
    text-align: right;
    font-size: clamp(1.8rem, 5vw, 4rem);
    line-height: clamp(2.5rem, 6vw, 5rem);
}

.call-to-action {
    z-index: 2;
}

.triangle-bg {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    align-content: center;

    & p {
        grid-row: 1 / 1;
        grid-column: 1 / 1;
        text-shadow: -3px 3px 4px #020202;
    }

    & .triangle-left{
        grid-row: 1 / 1;
        grid-column: 1 / 1;
        border-style: solid;
        border-width: 500px 0 0 100vw;
        border-color: transparent transparent transparent $acColorLi;
    }

    & .triangle-right {
        height: 100%;
        grid-row: 1 / 1;
        grid-column: 1 / 1;
        border-style: solid;
        border-width:  0 0 500px 100vw;
        border-color: transparent transparent $acColorLi transparent;
    }
}

.questions-container{
    padding: 3em;
    background-color: $mainColorDr;
    
}

.question-wrapper {
    background-color: $mainColorLi;
    box-shadow: -7px 9px 10px 0px #272626;

    & .question__text {
        padding-bottom: 0;
        font-weight: 700;
        text-align: center;
        color: $acColorLi;
    }
}

.options {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.answer {
    margin: 6em;
    padding: 1em 2em;
    width: fit-content;
    min-width: 150px;
    border-radius: 100px;
    box-shadow: -5px 5px 10px 0px #696767;
    @include transition(all .3s ease);

    & p {
        padding: 0;
        text-align: center;
        font-weight: 600;
        color: $acColorLi;
    }

    &:hover, :focus {
        background-color: #f8cb6b;
        box-shadow: -5px 5px 10px 0px #696767;
    } 
}

.results-btn {
    display: flex;
    justify-content: center;
    background-color: $mainColorDr;
}

button {
    margin: 1em 0 2em 0;
    padding: 2em 4em;
    font-family: $mainFont;
    font-size: 2rem;
    color: $acColorLi;
    border-radius: 100px;
    box-shadow: -7px 9px 10px 0px #272626;
}




//This code was used to cause grid items to over lap. It worked very well, but I think it is unnecessary and bulkier code than I need for the result that I want.
// .intro-container {
//     display: grid;
//     grid-template-columns: 50% 50%;
//     grid-auto-rows: 100%;

//     & img {
//         grid-column: 1/3;
//         grid-row: 1;
//         display: inline;
//         max-width: 100%;
//         z-index: 1;
//     }

//     & .quote {
//         grid-column: 2/3;
//         grid-row: 1;
//         align-self: center;
//         z-index: 9;
//     }
// }

