@import "./variables";


//GLOBAL STYLES
body {
    background-color: #f1f1f1;
}


h1
h2 {
    font-family: $headerFont;
    
}

p {
    font-family: $mainFont;
    font-size: clamp(1rem, 1rem + 5vw, 4rem);
    color: $acColorDr;
}

.container {
    background-color: $mainColor;
}

.intro-container {
    back
}